{
  "env": {
    "es6": true,
    "browser": true,
    "jquery": true
  },
  "extends": [
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "prettier/@typescript-eslint"
  ],
  "plugins": ["@typescript-eslint", "typescript", "react"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "allowImportExportEverywhere": true,
    "project": "./tsconfig.json"
  },
  "rules": {
    "no-console": "off",
    "no-undef": "off"
  }
}
