extends /shared/templates/layout/_default

block vars
  -
    var title = 'document'
    var description = ''
    var keywords = ''
    var url = ''

block main
  .test-wrap
    p #{data.siteWide.title}
